# Python
__pycache__/
*.py[cod]
*.so
.coverage
.coverage.*
.pytest_cache/
htmlcov/
*.egg-info/
dist/
build/
site/
.pants.d/
.TF_DATA_DIR/

# Jupyter
.ipynb_checkpoints/
*.ipynb
!examples/notebooks/*.ipynb
!notebooks/*.ipynb
!notebooks/examples/*.ipynb
examples/mlff/models
# uv
.venv/

# vscode
*.code-workspace

# cmake
build/

# dist
dist/
lib/

# molsim
*.vscode
*.pt
*.cif
*.model
benchmarks/
*.jax
*.zip
